:root {
  --xlarge: 170px;
  --large: 28px;
  --medium: 18px;
  --small: 16px;
  --xsmall: 14px;
  --xxsmall: 10px;
}

body {
  margin: 0 auto;
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("https://plus.unsplash.com/premium_photo-1671734045770-4b9e1a5e53a0?q=80&w=1674&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.main-container .main-wrapper {
  text-align: center;
  position: fixed;
}

.main-wrapper .date {
  font-size: var(--large);
}

.main-wrapper .time {
  font-size: var(--xlarge);
  font-weight: 400;
  margin-top: -35px;
}

.main-wrapper .search {
  display: flex;
  justify-content: center;
}

.search #search-input {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: var(--medium);
  padding: 15px 0px;
  border-radius: 30px;
  border: 0px;
  text-align: center;
  margin-top: -10px;
}

.search #search-input::placeholder {
  color: rgb(169, 169, 169);
  font-size: var(--medium);
}

.quote {
  font-size: var(--samll);
  position: fixed;
  bottom: 0;
  max-width: 800px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
}

.bookmark-open {
  width: 240px;
  padding: 15px 30px;
  font-size: var(--xsmall);
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.bookmark-close {
  width: 240px;
  padding: 15px 30px;
  font-size: var(--xsmall);
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  color: black;
}

.bookmark-close div {
  cursor: pointer;
}

.bookmark-open div {
  cursor: pointer;
}

.bookmark-bar {
  width: 240px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50px;
  right: 0px;
  min-height: calc(100vh - 70px);
  padding: 10px 30px;
  color: white;
}

.bookmark-item-add-btn {
  padding: 10px;
  font-size: var(--small);
  cursor: pointer;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(241, 241, 241, 0.2) 0.5px solid;
  margin-bottom: 35px;
  margin-top: 10px;
}

.bookmark-item-add-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bookmark-item-input-form {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(241, 241, 241, 0.2) 0.5px solid;
  font-size: var(--small);
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bookmark-item-input-form .bookmark-input {
  margin-bottom: 12px;
}

.bookmark-item-input-form .bookmark-input .label {
  margin-bottom: 12px;
  font-size: var(--xsmall);
}

.bookmark-item-input-form .bookmark-input input {
  width: 200px;
  height: 20px;
  border-radius: 5px;
  margin: 5px;
}

.bookmark-item-input-btn {
  display: flex;
  justify-content: space-between;
  font-size: var(--xsmall);
  margin-top: 5px;
}

.bookmark-item-input-btn div {
  padding: 5px 35px;
  border-radius: 5px;
  border: rgba(241, 241, 241, 0.2) 0.5px solid;
  cursor: pointer;
}

.bookmark-item-input-btn div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bookmark-list a {
  color: white;
  display: flex;
  text-decoration: none;
}

.bookmark-list .url-icon {
  margin-right: 8px;
}

.url-icon img {
  vertical-align: middle;
}

.bookmark-list .bookmark-item {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(241, 241, 241, 0.2) 0.5px solid;
  font-size: var(--small);
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookmark-item .del-btn {
  color: lightgray;
  vertical-align: center;
  font-size: var(--xxsmall);
  cursor: pointer;
}
